<!DOCTYPE html>
<html lang="en">

<head>
    {{>headerlinks}}
    <title>404 page not found</title>
</head>

<body>
   {{>navbar}}

    <!-- main header -->

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-10 mx-auto">
                  <div class="row">
                       <!-- main header left -->
                       <div class=" col-md-12 col-12 main_header_left align-items-center">
                        
                            <img src="./img/4043.png" class="hh img-fluid" alt="gg">
                        
                            
                        
                       <!-- main header right -->

                       
                        <p>Welcome to Arslan Website</p>
                        <h1>{{errormsg}}</h1>
                        <a href="/" ><button>Back</button></a>
                    </div>
                       
                       </div>
                  </div> 
            </div>
        </div>

  <!-- foooter -->
   {{>footer}}
</body>

</html>