<!DOCTYPE html>
<html lang="en">

<head>
    {{>headerlinks}}
    <title>About</title>
</head>

<body>
   {{>navbar}}

    <!-- main header -->

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-10 mx-auto">
                  <div class="row">
                       <!-- main header left -->
                       <div class=" col-md-6 col-12 main_header_right align-items-center">
                        <figure>
                            <img src="./img/1.jpg" class="h img-fluid" alt="gg">
                        </figure>
                            
                        </div>
                       <!-- main header right -->

                       <div class=" col-md-6 col-12 main_header_left">
                        <p>Welcome to weather app</p>
                        <h1>Hell0! My Name is arslan and i am <span class="text-clr">MERN stack developer</span>.</h1>
                        <a href="https://www.facebook.com/www.arslan.pk/" target="_blank"><button>About me</button></a>
                    </div>
                       
                       </div>
                  </div> 
            </div>
        </div>

  <!-- foooter -->
   {{>footer}}
</body>

</html>